@font-face {
    font-family: 'Arizonia';
    src: url('../fonts/Arizonia-Regular.ttf') format('truetype');
    
}
@font-face {
    font-family: 'Great-Vibes';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}
